@font-face{
	font-family: Narrow;
	src:url(HelveticaNarrow.ttf);
}
body{
    /* place background here */
}
h1{
    font-family: Narrow, Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    font-weight:bold;
    font-size:45px;
}
#footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:10%;
    background: url(../images/dust-power.png) no-repeat center;
    -webkit-background-size:contain;
    -moz-background-size:contain;
    background-size:contain;
    z-index:2;
    cursor:pointer;
}
#left,#right{
    position:fixed;
    z-index:1;
    width:50%;
    height:100%;
    top:0;
}
#left{
    left:0;
    background:url(../images/concrete_wall.png);
}
#right{
    left:50%;
}