{% extends "layout.html" %}
{% block content %}
<body ng-app="senca">
    <div ng-controller="editor">
        <div id="left">
            <div class="container-fluid">
                <h1 class="text-center" style="color:#ffffff;">Senca</h1>
            </div>
        </div>
        <div id="right" ng-init="loadEditor()">
            <div class="container">
                <div id="toolbar"></div>
                <div id="editor"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <br>
    <br>
    <br>
    <div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>
</body>
{% endblock %}