{% extends "layout.html" %}
{% block content %}
<body ng-app="senca">
    <div ng-controller="editor">
        <div id="left">
            <div class="container-fluid">
                <h1 class="text-center" style="color:#ffffff;">Senca</h1>
                <p class="lead text-center" style="color:#efefef;">Start typing to let Senca suggest content for you.</p>
                <hr>
                <div id="suggestions"></div>
            </div>
        </div>
        <div id="right" ng-init="loadEditor()">
            <div class="container" data-editable data-name="main-content" style="width:100%;margin-top:20px;">
                <p>Begin your story ...</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="myModal" class="modal fade" role="dialog"></div>
    </div>
    <br>
    <br>
    <br>
    <!--<div id="footer" onclick="window.location='https://twitter.com/thedustmakers';"></div>-->
</body>
{% endblock %}